<div class="product-details-container">
  <div class="product-image">
    <p-image 
      [src]="getProductImage()"
      [preview]="true"
      alt="Product Image"
      width="300"
      (onError)="onImageError()"
    >
      <ng-template pTemplate="indicator">
        <i class="pi pi-eye"></i> <!-- Changed to eye icon -->
      </ng-template>
    </p-image>
  </div>
  <div class="product-info">
    <h1 class="product-title">{{ product.name }}</h1>
    <h2 class="product-brand">{{ product.brand }}</h2>
    <p class="product-price">{{ product.price }} €</p>
    <div class="color-variants">
      <label style="margin-right: 10px" for="color">Color:</label>
      <select id="color" (change)="onColorChange($event)">
        <option *ngFor="let color of product.colors" [value]="color.color_id">{{ color.color_name }}</option>
      </select>
    </div>
    <div>
      <label for="sizeSelect">Size:</label>
      <select id="sizeSelect" (change)="onSizeChange($event)">
          <option *ngFor="let size of product.sizes" [value]="size">{{ size }}</option>
      </select>
  </div>
    <div class="product-description">
      <p>Upgrade your wardrobe with this product. Expertly crafted for comfort and style, it's perfect for any occasion.</p>
    </div>
    <button pButton type="button" icon="pi pi-shopping-cart" label="Add to Cart" (click)="addToCart()"></button>
  </div>
</div>
