.product-details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.product-image p-image {
  width: 300px; /* Adjust the width as needed */
  height: auto;
}

.product-info {
  flex: 1;
  padding: 0 20px;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-brand {
  font-size: 18px;
  margin-bottom: 10px;
  color: #868686; 
}

.product-price {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 800;
}

.color-variants select,
.size-options select {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.product-description {
  margin-top: 10px;
}

.product-description h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-description p {
  font-size: 16px;
  line-height: 1.5;
  color: #666; /* Adjust color as needed */
}
